<!DOCTYPE html>
<html class="full" lang="en">

<style>

.box {
background-color:rgba(255,255,255,0.7);
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  
  min-height:340px;
}



.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}

.feature i{
    font-size:70px;
    color:#FFFFFF;
    background:#1E825F;
    padding:20px;
    border-radius:50%;
    border: solid 3px #1E825F;
}

.feature j{
    font-size:70px;
    color:#FFFFFF;
    background:#4154FF;
    padding:20px;
    border-radius:50%;
    border: solid 3px #4154FF;
}

.feature k{
    font-size:70px;
    color:#FFFFFF;
    background:#C04C6B;
    padding:20px;
    border-radius:50%;
    border: solid 3px #C04C6B;
}

.feature:hover {
    background:rgba(255,255,255,0.7);
    -webkit-transform: translate(0,1em);
    -moz-transform: translate(0,1em);
    -o-transform: translate(0,1em);
    -ms-transform: translate(0,1em);
    transform: translate(0,1em);
}

.feature, .feature i, .feature j, .feature k, .feature h3, .feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.feature h3 {
    font-size:130%;
}

}
</style>

<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FASTforward- zak³ady</title>

    <!-- Bootstrap Core CSS -->
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   


    <!-- Custom CSS -->
    
	
	 <link href="css/full.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	#if($user) 
	
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/">
	                    <img src="images/home.png" class="img-rounded" alt="">
	                </a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li>
							<a href="/terms">Regulamin</a>
	                    </li>
	                    <li>
	                    	<a href="/contact">Kontakt</a>
						</li>
						
	                </ul>
					<ul class="nav navbar-nav navbar-right">
						
							<li>
								<a href="moneyManagement">Stan konta: $user.getAccountBalance()</a>
							</li>
							
							<li>
								<a href="userDataManagement"><span class="glyphicon glyphicon-user">$user.getLogin()</span></a>
							</li>
							
							<li>
<div class="dropdown">
								  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
							
								    <li><a href="#">HTML</a></li>
								    <li><a href="#">CSS</a></li>
								    <li><a href="#">JavaScript</a></li>
								  </ul>
								</div>
							</li>
							
							<li>
								<a href="logout"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
							</li>
					</ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
		 </nav>
	#else
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/">
	                    <img src="images/home.png" class="img-rounded" alt="">
	                </a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li>
	                        <a href="/register">Zarejestruj sie</a>
	                    </li>
	                    <li>
	                      	<a href="/terms">Regulamin</a>
	                    </li>
	                    <li>
	                    	<a href="/contact">Kontakt</a>
	                  
						</li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	#end

	#parse( $template ) 


  <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>