<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    	<a href="/"><h1><img src='/images/logo.png'/></h1></a>

      #parse( $template ) 

    </div>
  </body>
</html>